# ==========================================
# Monorepo Root & Shared Exclusions
# ==========================================

# Dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Build & Compiled output
.next/
out/
build/
dist/
*.tsbuildinfo
next-env.d.ts

# Environment & Sensitive configs
.env*
!.env.example
cline.toml

# Testing & Coverage
coverage/
.nyc_output/

# Logs & Debugging
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
pnpm-debug.log*
lerna-debug.log*
generated/prisma

# OS & System files
.DS_Store
Thumbs.db
*.pem

# Cloud & Deployment Services
.vercel/

# Editor & IDE configs
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Runtime, Temp & Diagnostic Data
.temp/
.tmp/
pids/
*.pid
*.seed
*.pid.lock
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json